<html>
    <head>
      {% if title %}
      <title>{{ title }} - Billmaster</title>
      {% else %}
      <title>Welcome to Billmaster</title>
      {% endif %}
    </head>
    <body>
        <div>Billmaster: 
            <a href="{{ url_for('main.index') }}">Home</a>
            <a href="{{ url_for('auth.login') }}">Login</a>
            <a href="{{ url_for('auth.register') }}">Register</a>
            <a href="{{ url_for('main.input') }}">Input</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>